.d-dialog {
    width: 100vw;
  }
  .delete {
    border-radius: 0 !important;
  }
  .is-width-small {
    width: 40vw;
    @include mobile {
      width: 60vw;
    }
  }
  .is-width-medium {
    width: 60vw;
    @include mobile {
      width: 75vw;
    }
  }
  .is-width-large {
    width: 90vw;
  }
  