// cursor
.has-cursor-pointer {
  cursor: pointer;
}

// Width
.is-width-small {
  width: 40vw;
  @include mobile {
    width: 60vw;
  }
}
.is-width-medium {
  width: 60vw;
  @include mobile {
      width: 75vw;
  }
}
.is-width-large {
  width: 90vw;
}


//  Sizes

.xxs {
  height: $size-4;
}
.xs {
height: $size-3;
}
.s {
height: $size-2;
}
.m {
height: $size-1;
}
.l {
height: $size-1 * 1.5;
}
.xl {
height: $size-1 * 2;
}
.xxl {
height: $size-1 * 3;
}